nav.header {
    background: @theme-color-1;
    color: @base-color;
    height: 50px;
    .navbar-header {
        .navbar-brand {
            color: @theme-color-4;
        }
    }
    .navbar-nav {
        display: flex;
        align-items: center;
        margin-right: 0;
        .navbar-brand {
            img {
                width: 30px;
            }
        }
        .name {
            color: @theme-color-4;
            text-decoration: none;
            padding: 0 20px 0 0;
        }
        .logout{
          background : @theme-color-3;
          color: @theme-color-1;
          text-shadow: none;
        }
    }
}
